<launch>
    <!-- parameters inherited from above launch file -->
    <arg name="drone_id"/>
    <arg name="init_x"/>
    <arg name="init_y"/>
    <arg name="init_z"/>
    <arg name="target_x"/>
    <arg name="target_y"/>
    <arg name="target_z"/>

    <!-- overall map size -->
    <arg name="map_size_x" value="40.0"/>
    <arg name="map_size_y" value="20.0"/>
    <arg name="map_size_z" value="3.0"/>
        
    <!-- topic of the odometry from VIO for planning and simulator -->
    <arg name="odom_topic" value="visual_slam/odom"/> <!-- vins_estimator/odometry -->

    <!-- main algorithm params -->
    <include file="$(find ego_planner)/launch/simulator/advanced_drone.xml">
        <arg name="drone_id"                value="$(arg drone_id)"/>
        <arg name="map_size_x_"             value="$(arg map_size_x)"/>
        <arg name="map_size_y_"             value="$(arg map_size_y)"/>
        <arg name="map_size_z_"             value="$(arg map_size_z)"/>

        <!-- main input (odometry, camera pose, depth image, pointcloud) from VIO -->
        <arg name="odometry_topic" value="$(arg odom_topic)"/>
        <arg name="camera_pose_topic" value="pcl_render_node/camera_pose"/> <!-- vins_estimator/camera_pose -->
        <arg name="depth_topic" value="pcl_render_node/depth"/> <!-- realsense/depth_camera/color/image_raw --> 
        <arg name="cloud_topic" value="pcl_render_node/cloud"/> <!-- vins_estimator/pointcloud -->

        <!-- most important parameters that may affect much -->
        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="1.0"/>
        <arg name="max_acc" value="4.0"/>
        <arg name="formation_type" value="2"/> <!-- 0 for none; 2 for triangle -->
        <!-- planning_horizon, set to 1.5 times grater than sensing horizen (sensing horizen is in simulator.xml) -->
        <arg name="planning_horizon" value="7.5"/>
        <arg name="replan_trajectory_time" value="0.1"/>

        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="321.04638671875"/>
        <arg name="cy" value="243.44969177246094"/>
        <arg name="fx" value="387.229248046875"/>
        <arg name="fy" value="387.229248046875"/>

        <arg name="flight_type" value="3"/>
        <!-- 2: use global waypoints below  -->
        <arg name="point_num" value="1"/> <!-- "1" means only one waypoint, which is the target point-->
        <arg name="point0_x" value="$(arg target_x)"/>
        <arg name="point0_y" value="$(arg target_y)"/>
        <arg name="point0_z" value="$(arg target_z)"/>
        <!-- 3: use 2D Nav Goal in Rviz to select goal  -->
    </include>

    <!-- trajectory server -->
    <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
        <remap from="position_cmd" to="drone_$(arg drone_id)_planning/pos_cmd"/>
        <remap from="~planning/trajectory" to="drone_$(arg drone_id)_planning/trajectory"/>
        <remap from="~planning/start" to="drone_$(arg drone_id)_planning/start"/>
        <remap from="~planning/finish" to="drone_$(arg drone_id)_planning/finish"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>

    <!-- flight control simulator -->
    <include file="$(find ego_planner)/launch/simulator/simulator.xml">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="map_size_x_" value="$(arg map_size_x)"/>
        <arg name="map_size_y_" value="$(arg map_size_y)"/>
        <arg name="map_size_z_" value="$(arg map_size_z)"/>
        <arg name="init_x_" value="$(arg init_x)"/>
        <arg name="init_y_" value="$(arg init_y)"/>
        <arg name="init_z_" value="$(arg init_z)"/>
        <arg name="odometry_topic" value="$(arg odom_topic)" />
    </include>
</launch>